{% extends 'base.html' %}

{% block body %}
<header class="header">
        {% include 'topNav.html' %}
        <div class="top-banner">
        {% include 'nav.html' %}
        <div class="flex-center about">
            <h1>About</h1>
            <div class="search">
            <ion-icon name="search-outline"></ion-icon>
            <input type="search" name="search" id="search" placeholder="what you want to learn?"/>
            </div>

        </div>
        </div>
    </header>
    <section class="banners">
        <div class="banner flex-center banner2">
            <div class="text-content">
                <h1>Learn without <span class="color-secondary">limits.</span><br />with us</h1>
                <p>Start, switch, or advance your career with more than 5,400 courses, Professional Certificates, and degrees from world-class universities and companies.</p>
                <ul class="flex-center">
                    <li>some text here</li>
                    <li>some text here</li>
                    <li>some text here</li>
                    <li>some text here</li>
                </ul>
                <div class="buttons">
                    <a href="#" class="button flex-center">Join us</a>
                </div>
            </div>
            <img src="{{ url_for('static',filename='logo.jpg') }}" alt="banner" />
        </div>
        <div class="banner flex-center banner2 flex-reverse">
            <div class="text-content">
                <p>Start, switch, or advance your career with more than 5,400 courses, Professional Certificates, and degrees from world-class universities and companies.</p>
                <p>Start, switch, or advance your career with more than 5,400 courses, Professional Certificates, and degrees from world-class universities and companies.</p>
            </div>
            <img src="{{ url_for('static',filename='check.jpg') }}" alt="banner" />
        </div>
    </section>
    <br />
    <br />
    <section class="achievements achievements2">
        <div class="heading">
            <h1>Why An Scholercity Out Of <br />The Ordinary</h1>
            <p>You don't have to struggle alone, you've got our assistance and help.</p>
        </div>
        <div class="cards">
            <div class="card flex-center" style="animation-duration:10s;">
                <ion-icon name="school-outline"></ion-icon>
                <h4>1000+</h4>
                <span>Achievement</span>
            </div>
            <div class="card flex-center" style="animation-duration:20s;">
                <ion-icon name="accessibility-outline"></ion-icon>                
                <h4>1000+</h4>
                <span>Achievement</span>
            </div>
            <div class="card flex-center" style="animation-duration:16s;">
                <ion-icon name="bar-chart-outline"></ion-icon>
                <h4>1000+</h4>
                <span>Achievement</span>
            </div>
            <div class="card flex-center" style="animation-duration:25s;">
                <ion-icon name="bicycle-outline"></ion-icon>
                <h4>1000+</h4>
                <span>Achievement</span>
            </div>
        </div>
    </section>
    <section class="course-heading">
        <div class="heading">
            <h2>We provide for you</h2>
        </div>
        <div class="cards">
            <div class="card">
                <ion-icon style="animation-duration:7s;" name="code-slash-outline"></ion-icon>
                <h4>web & software</h4>
            </div>
            <div class="card">
                <ion-icon style="animation-duration:10s;" name="body-outline"></ion-icon>
                <h4>3d animation</h4>
            </div>
            <div class="card">
                <ion-icon style="animation-duration:17s;" name="leaf-outline"></ion-icon>
                <h4>Graphics design</h4>
            </div>
            <div class="card">
                <ion-icon style="animation-duration:8s;" name="bed-outline"></ion-icon>
                <h4>interior design</h4>
            </div>
            <div class="card">
                <ion-icon style="animation-duration:9s;" name="game-controller-outline"></ion-icon>
                <h4>Game evolution</h4>
            </div>
            <div class="card">
                <ion-icon style="animation-duration:11s;" name="bar-chart-outline"></ion-icon>
                <h4>Online marketing</h4>
            </div>
            <div class="card">
                <ion-icon style="animation-duration:13s;" name="code-slash-outline"></ion-icon>
                <h4>web & software</h4>
            </div>
            <div class="card">
                <ion-icon style="animation-duration:15s;" name="body-outline"></ion-icon>
                <h4>3d animation</h4>
            </div>
            <div class="card">
                <ion-icon style="animation-duration:12s;" name="leaf-outline"></ion-icon>
                <h4>Graphics design</h4>
            </div>
            <div class="card">
                <ion-icon style="animation-duration:14s;" name="bed-outline"></ion-icon>
                <h4>interior design</h4>
            </div>
            <div class="card">
                <ion-icon style="animation-duration:16s;" name="game-controller-outline"></ion-icon>
                <h4>Game evolution</h4>
            </div>
            <div class="card">
                <ion-icon style="animation-duration:18s;" name="bar-chart-outline"></ion-icon>
                <h4>Online marketing</h4>
            </div>
        </div>
        <br />
 <table class="address bg-lightgreen" border="0">
        <tbody>
            <tr>
                <td class="un">Emaal: </td>
                <td >kisses@ieueuue8</td>
            </tr>
            <tr>
                <td class="un">address: </td>
                <td >6/6 aaaa,aaaaaaaaaaii,aiwiieieiei,938388393838,393983</td>
            </tr>
            <tr>
                <td class="un">phone number: </td>
                <td >6/6 aaaa,aaaaaaaaaaii,aiwiieieiei,938388393838,393983</td>
            </tr>
        </tbody>
    </table>

        <br />
        <div class="subscription">
            <h2>You can be your own<br />guiding star with our help</h2>
            <a href="#">Join us</a>
        </div>
    <br />
    </section>
    
{% endblock body %}