{% extends 'base.html' %}

{% block body %}
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link href="//cdn.quilljs.com/1.3.6/quill.core.css" rel="stylesheet">
<script src="//cdn.quilljs.com/1.3.6/quill.core.js"></script>
    <style type="text/css">
    .add-blog{
        width: 80%;
        margin: 20px auto;
    }
    .add-blog .blog-data{
        width: 90%;
        max-width: 900px;
        margin: 20px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .add-blog input{
        margin-bottom: 20px;
        width: 100%;
    }
    #editor{
        width: 100%;
    }
    .ql-toolbar{
        width: 100%;
    }
</style>
    <header class="header">
        {% include 'topNav.html' %}
        {% include 'nav.html' %}
    </header>
    <br />
    <section class="add-blog">
        <h2>Add Blog</h2>
        <form method="post" class="blog-data">
            <input class="input" type="text" name="title" id="title"  placeholder="title"/>
            <input class="input" type="text" name="tag" id="tag" placeholder="tag" />
            <input class="input" type="text" name="tags" id="tags" placeholder="tag|tag|tag|tag" />
            <span>date</span>
            <input class="input" type="date" name="date" id="date" placeholder="date" />
            <input class="input" type="text" id="author" name="author" placeholder="Author"/>
            <span>Banner</span>
            <input class="input" type="text" name="banner" id="banner" placeholder="use a image link for banner"/>
            <span>user avatar link</span>
            <input class="input" type="text" name="useravater" id="useravater" placeholder="use a image link" />
            <div id="editor">
              <p>Hello World!</p>
              <p>Some initial <strong>bold</strong> text</p>
              <p>don't click on save for add link</p>
              <p><br></p>
            </div>
            <input type="hidden" name="blog-body" id="blog-body" />
            <button class="danger" type="submit" style="background-color:#1f6334;">Add</button>
        </form>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.7/quill.min.js" type="text/javascript" charset="utf-8"></script>
        <script>
        var toolbarOptions = [
                ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
                ['blockquote', 'code-block'],

                [{ 'header': 1 }, { 'header': 2 }],               // custom button values
                [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
                [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
                [{ 'direction': 'rtl' }],                         // text direction

                [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
                [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                [ 'link', 'image', 'video', 'formula' ],          // add's image support
                [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
                [{ 'font': [] }],
                [{ 'align': [] }],

                ['clean']                                         // remove formatting button
            ];
  var quill = new Quill('#editor', {
      modules: {
                toolbar: toolbarOptions
            },
    theme: 'snow'
  });
  
  
  quill.on('text-change',()=>{
      document.getElementById('blog-body').value=quill.root.innerHTML
  })
</script>
    </section>
    <hr />
{% endblock body %}