{% extends 'base.html' %}

{% block body %}
    <style type="text/css" >
        .blogs{
            width: 80%;
            margin: 20px auto;
        }
        .panne{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }        
        .panne span{
            padding: 10px 20px;
            margin: 0 4px;
            font-weight: bold;
            border: 1px solid #303030;
            border-radius: 5px;
            
        }
        .panne button{
            background-color: #9d00ff;
            color: #fff;
            border-color: #9d00ff;
            font-weight: bold;
            margin: 0 3px;
        }
    </style>
    <header class="header">
        {% include 'topNav.html' %}
        {% include 'nav.html' %}
    </header>
    <section class="blogs">
    <h2 class="color-primary">Blogs</h2>
    <div class="search">
            <ion-icon name="search-outline"></ion-icon>
            <input type="search" name="search" id="search" placeholder="what you want to find?"/>
    </div>
    <div class="team-blog">
        <div class="cards">
            <div class="card">
                <img src="./logo1.jpg" alt="image" />
                <div class="body">
                    <span class="tag">blog tag</span>
                    <div class="text-content">
                        <h4>Tweeter is not my because i am not ownner of it</h4>
                        <span><small>By: Elon musk</small></span>
                        <div class="tag-by">
                            <img src="./logo2.jpg" height="30" width="30" alt="icon" />
                            <span class="date">1/5/2023</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="./logo1.jpg" alt="image" />
                <div class="body">
                    <span class="tag">blog tag</span>
                    <div class="text-content">
                        <h4>Tweeter is not my because i am not ownner of it</h4>
                        <span><small>By: Elon musk</small></span>
                        <div class="tag-by">
                            <img src="./logo2.jpg" height="30" width="30" alt="icon" />
                            <span class="date">1/5/2023</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="./logo1.jpg" alt="image" />
                <div class="body">
                    <span class="tag">blog tag</span>
                    <div class="text-content">
                        <h4>Tweeter is not my because i am not ownner of it</h4>
                        <span><small>By: Elon musk</small></span>
                        <div class="tag-by">
                            <img src="./logo2.jpg" height="30" width="30" alt="icon" />
                            <span class="date">1/5/2023</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="./logo1.jpg" alt="image" />
                <div class="body">
                    <span class="tag">blog tag</span>
                    <div class="text-content">
                        <h4>Tweeter is not my because i am not ownner of it</h4>
                        <span><small>By: Elon musk</small></span>
                        <div class="tag-by">
                            <img src="./logo2.jpg" height="30" width="30" alt="icon" />
                            <span class="date">1/5/2023</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="./logo1.jpg" alt="image" />
                <div class="body">
                    <span class="tag">blog tag</span>
                    <div class="text-content">
                        <h4>Tweeter is not my because i am not ownner of it</h4>
                        <span><small>By: Elon musk</small></span>
                        <div class="tag-by">
                            <img src="./logo2.jpg" height="30" width="30" alt="icon" />
                            <span class="date">1/5/2023</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="./logo1.jpg" alt="image" />
                <div class="body">
                    <span class="tag">blog tag</span>
                    <div class="text-content">
                        <h4>Tweeter is not my because i am not ownner of it</h4>
                        <span><small>By: Elon musk</small></span>
                        <div class="tag-by">
                            <img src="./logo2.jpg" height="30" width="30" alt="icon" />
                            <span class="date">1/5/2023</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="./logo1.jpg" alt="image" />
                <div class="body">
                    <span class="tag">blog tag</span>
                    <div class="text-content">
                        <h4>Tweeter is not my because i am not ownner of it</h4>
                        <span><small>By: Elon musk</small></span>
                        <div class="tag-by">
                            <img src="./logo2.jpg" height="30" width="30" alt="icon" />
                            <span class="date">1/5/2023</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="./logo1.jpg" alt="image" />
                <div class="body">
                    <span class="tag">blog tag</span>
                    <div class="text-content">
                        <h4>Tweeter is not my because i am not ownner of it</h4>
                        <span><small>By: Elon musk</small></span>
                        <div class="tag-by">
                            <img src="./logo2.jpg" height="30" width="30" alt="icon" />
                            <span class="date">1/5/2023</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="./logo1.jpg" alt="image" />
                <div class="body">
                    <span class="tag">blog tag</span>
                    <div class="text-content">
                        <h4>Tweeter is not my because i am not ownner of it</h4>
                        <span><small>By: Elon musk</small></span>
                        <div class="tag-by">
                            <img src="./logo2.jpg" height="30" width="30" alt="icon" />
                            <span class="date">1/5/2023</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panne">
        <button>previous</button>
        <button>next</button>
    </div>
    </section>
    
    <div class="subscription w-80">
            <h2>You can be your own<br />guiding star with our help</h2>
            <a href="#">Join us</a>
        </div>
    
{% endblock body %}