{% extends 'base.html' %}

{% block body %}
    <header class="header">
        {% include 'topNav.html' %}
        {% include 'nav.html' %}
        <div class="just-img">
            <h1>Contct <span class="color-secondary">us</span></h1>
            <img src="{{ url_for('static',filename='check.jpg') }}" alt="banner" />
        </div>
    </header>
    <br />
     <table class="address" border="0">
        <tbody>
            <tr>
                <td class="un">Emaal: </td>
                <td >kisses@ieueuue8</td>
            </tr>
            <tr>
                <td class="un">phone number: </td>
                <td >6/6 aaaa,aaaaaaaaaaii,aiwiieieiei,938388393838,393983</td>
            </tr>
            <tr>
                <td class="un">address: </td>
                <td >6/6 aaaa,aaaaaaaaaaii,aiwiieieiei,938388393838,393983</td>
            </tr>
        </tbody>
    </table>
    <br />
    <form class="contact-form">
        <h1><span class="color-secondary">inbox</span> your queries</h1>
        <input class="input" type="text" name="name" id="name" placeholder="your name" />
        <input class="input" required type="email" name="email" id="email" placeholder="email@gmail.com">
        <input class="input" required type="tel" name="phone" id="phone" placeholder="phone number" />
        <textarea required name="queries" id="queries" rows="5" placeholder="your queries"></textarea>
        <button type="submit">Submit</button>
    </form>
    
{% endblock body %}