{% extends 'base.html' %}

{% block body %}
    <header class="header">
        {% include 'topNav.html' %}
        {% include 'nav.html' %}
        <div class="course-heading">
        <div class="heading">
            <h1><span class="color-info">Courses</span> List.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet doloremque molestiae temporibus quae, ipsam aperiam illum numquam aspernatur. Aliquid pariatur quo aut placeat molestiae, nam eum quos adipisci molestias beatae necessitatibus asperiores doloremque eaque. Officia excepturi aperiam fugit laudantium earum, neque. Harum labore voluptas dolorem dolore! Quae consequuntur non tempora.</p>
        </div>
        <div class="cards">
            <div class="card">
                <ion-icon style="animation-duration:7s;" name="code-slash-outline"></ion-icon>
                <h4>web & software</h4>
            </div>
            <div class="card">
                <ion-icon style="animation-duration:10s;" name="body-outline"></ion-icon>
                <h4>3d animation</h4>
            </div>
            <div class="card">
                <ion-icon style="animation-duration:17s;" name="leaf-outline"></ion-icon>
                <h4>Graphics design</h4>
            </div>
            <div class="card">
                <ion-icon style="animation-duration:8s;" name="bed-outline"></ion-icon>
                <h4>interior design</h4>
            </div>
            <div class="card">
                <ion-icon style="animation-duration:9s;" name="game-controller-outline"></ion-icon>
                <h4>Game evolution</h4>
            </div>
            <div class="card">
                <ion-icon style="animation-duration:11s;" name="bar-chart-outline"></ion-icon>
                <h4>Online marketing</h4>
            </div>
            <div class="card">
                <ion-icon style="animation-duration:13s;" name="code-slash-outline"></ion-icon>
                <h4>web & software</h4>
            </div>
            <div class="card">
                <ion-icon style="animation-duration:15s;" name="body-outline"></ion-icon>
                <h4>3d animation</h4>
            </div>
            <div class="card">
                <ion-icon style="animation-duration:12s;" name="leaf-outline"></ion-icon>
                <h4>Graphics design</h4>
            </div>
            <div class="card">
                <ion-icon style="animation-duration:14s;" name="bed-outline"></ion-icon>
                <h4>interior design</h4>
            </div>
            <div class="card">
                <ion-icon style="animation-duration:16s;" name="game-controller-outline"></ion-icon>
                <h4>Game evolution</h4>
            </div>
            <div class="card">
                <ion-icon style="animation-duration:18s;" name="bar-chart-outline"></ion-icon>
                <h4>Online marketing</h4>
            </div>
        </div>
    </div>
    </header>
    <div class="search">
            <ion-icon name="search-outline"></ion-icon>
            <input type="search" name="search" id="searchC" placeholder="what you want to learn?"/>
    </div>
    <section class="courses">
        <div class="heading heading-2">
            <h1>Course <span class="color-success">admission</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur in, aspernatur labore officia, quia porro veritatis saepe. Mollitia.</p>
        </div>
        <div class="cards">
            {% for course in allCourses %}
            <div class="card">
                <img src="{{ course.banner }}" alt="image" />
                <div class="body">
                    <span class="tag" style="animation:none;" >{{course.tag}}</span>
                    <div class="text-content">
                        <h4>{{course.title}}</h4>
                        <span>Fee: ${{course.fee}}</span>
                        <span><small><a class="color-info" href="/course/{{course._UID_}}" style="text-decoration:underline;">Apply</a></small></span>
                        <div class="tag-by">
                            <img src="{{course.useravater}}" height="30" width="30" alt="icon" />
                            <span class="date">{{course.author}}</span>
                        </div>
                    </div>
                </div>
                <br />
            </div>
            {% endfor %}
        </div>
        <div class="subscription">
            <h2>You can be your own<br />guiding star with our help</h2>
            <a href="/courses">Join us</a>
        </div>
    </section>

{% endblock body %}