{% extends 'base.html' %}

{% block body %}
    <header class="header">
        {% include 'topNav.html' %}
        {% include 'nav.html' %}
        <nav class="nav-2 flex-center w-full">
            <div class="links flex-center links-4">
                <a href="/courses/manage/add">Add</a>
            </div>
        </nav>

    </header>
<br />
        <section class="team-blog">
        <div class="heading">
            <h1>Courses</h1>
        </div>
        <br />
        <div class="cards">
            {% for course in courses %}
            <div class="card">
                <img src="{{course.banner}}" alt="image" />
                <div class="body">
                    <span class="tag">{{course.tag}}</span>
                    <div class="text-content">
                        <h4>{{course.title}}</h4>
                        <span>Fee: {{course.fee}}</span>
<!--                         <span><small>By: {{course.author}}</small></span>
 -->                        <div class="tag-by">
                            <img src="{{course.useravater}}" height="30" width="30" alt="icon" />
                            <span class="date">{{course.author}}</span>
                        </div>
                        <button class="danger"><a href="/courses/manage/delete/{{course._UID_}}">Delete</a></button>
                        <button class="danger"><a href="/courses/manage/update/{{course._UID_}}">Update</a></button>
                        <button class="danger"><a href="/courses/manage/add_video/{{course._UID_}}">Manage</a></button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <hr />
    <a id="web_jumpers"></a>

{% endblock body %}