{% extends 'base.html' %}

{% block body %}
    <header class="header">
        {% include 'topNav.html' %}
        {% include 'nav.html' %}
    </header>
    
    <section class="course-m">
                <div class="banner banner-3 flex-center">
            <div class="text-content">
            <h1><span class="color-primary">{{data.title}}</span></h1>
                <p>{{data.courseDesc}}</p>
                <div class="buttons">
                    <a href="/course/apply/{{data._UID_}}" class="button flex-center">Apply online</a>
                </div>
            </div>
            <img src="./logo1.jpg" alt="banner" />
        </div>
        <div class="course-info">

            <div class="duration-info">
                <span style="background-color:#00c4f5;">Course duration <br />{{data.duration}}</span>
                <span style="background-color:#dbb700;">{{data.internduration}} <br />Internship</span>
            </div>
            <h2><span class="color-secondary">Course </span>content</h2>
            <div class="custom-ul">
                <span class="custom-li">some thing interesting</span>
                <span class="custom-li">some thing interesting</span>
                <span class="custom-li">some thing interesting</span>
            </div>
        </div>
        <div class="software">
            <h2><span class="color-secondary">software</span> you learn</h2>
            <div class="softwares">
                <img src="pe.png" alt="software"/>
                <img src="pe.png" alt="software"/>
                <img src="pe.png" alt="software"/>
                <img src="pe.png" alt="software"/>
            </div>
        </div>
        <div class="course-info">
            <h2><span class="color-secondary">Job </span>field</h2>
            <div class="custom-ul">
                <span class="custom-li">some thing interesting</span>
                <span class="custom-li">some thing interesting</span>
                <span class="custom-li">some thing interesting</span>
            </div>
        </div>
    </section>
    
    <section class="courses">
        <div class="heading heading-2">
            <h1><span class="color-success">Top</span> Courses</h1>
        </div>
        <div class="cards">
            <div class="card">
                <img src="./logo1.jpg" alt="image" />
                <div class="body">
                    <span class="tag" style="animation-duration:20s;" >course</span>
                    <div class="text-content">
                        <h4>Courses name</h4>
                        <div class="stars rating-star" -data-rating="2"></div>
                        <span>Fee: $500</span>
                        <div class="tag-by">
                            <img src="./logo2.jpg" height="30" width="30" alt="icon" />
                            <span class="date">1/14/2023</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="./logo1.jpg" alt="image" />
                <div class="body">
                    <span class="tag" style="animation-duration:19s;" >course</span>
                    <div class="text-content">
                        <h4>Courses name</h4>
                        <div class="stars rating-star" -data-rating="2"></div>
                        <span>Fee: $500</span>
                        <div class="tag-by">
                            <img src="./logo2.jpg" height="30" width="30" alt="icon" />
                            <span class="date">1/14/2023</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="./logo1.jpg" alt="image" />
                <div class="body">
                    <span class="tag" style="animation-duration:24s;" >course</span>
                    <div class="text-content">
                        <h4>Courses name</h4>
                        <div class="stars rating-star" -data-rating="2"></div>
                        <span>Fee: $500</span>
                        <div class="tag-by">
                            <img src="./logo2.jpg" height="30" width="30" alt="icon" />
                            <span class="date">1/14/2023</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="search">
            <ion-icon name="search-outline"></ion-icon>
            <input type="search" name="search" id="search" placeholder="what you want to learn?"/>
    </div>
    <div class="subscription w-80">
            <h2>You can be your own<br />guiding star with our help</h2>
            <a href="#">Join us</a>
        </div>
{% endblock body %}