{% extends 'base.html' %}

{% block body %}
    <link href="https://vjs.zencdn.net/7.21.1/video-js.css" rel="stylesheet" />
    <style type="text/css">
        body{
            max-height: 100vh;
            overflow: scroll;
            min-height: 100vh;
        }
        .videos{
            width: 80%;
            margin: 20px auto;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        .videos .playing-video{
            width: 100%;
            border-bottom: 2px solid gray;
            padding-bottom: 10px;
            margin-bottom: 20px;
            position: sticky;
            top: 0;
            background-color: #eaeaea;
        }
        .videos .video-list{
            width: 100%;
        }
        .single-video{
            max-width: 100%;
            height: 90px;
            display: flex;
            align-items: center;
            border-bottom: 1px solid darkgray;
            margin-top: 10px;
            margin-bottom: 10px;
            
            }
        .single-video h3{
            max-width: 400px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
        .single-video img{
            border-radius: 10px;
        }
        .single-video .text-ct{
            height: 90px;
            padding-left: 5px;
            
        }
        .my-video{
            width: 100%;
            margin-bottom: 10px;
        }
    </style>
    <header class="header">
        <nav class="nav">
            <ul class="links-ic flex-center">
                <li class="link flex-center">
                    <a href="#" class="flex-center"><ion-icon name="logo-facebook" style="color:#5C9FF5;"></ion-icon></a></li><li class="link flex-center">
                    <a href="#"><ion-icon style="color:#15AFF4;" name="logo-twitter"></ion-icon></a></li><li class="link flex-center">
                    <a href="#"><ion-icon style="color:#E43651;" name="logo-pinterest"></ion-icon></a></li><li class="link flex-center">
                    <a href="#"><ion-icon style="color:#FF0000;" name="logo-youtube"></ion-icon></a></li><li class="link flex-center">
                    <a href="#"><ion-icon style="color:#0077B5;" name="logo-linkedin"></ion-icon></a></li><li class="link flex-center">
                    <a href="#"><ion-icon style="color:#F14950;" name="logo-instagram"></ion-icon></a>
                </li>
            </ul>
            <div class="flex-center">
                
            <span class="flex-center">More<ion-icon name="chevron-down-outline"></ion-icon></span>
            <ul class="links links2 flex-center">
                <li class="link flex-center">
                    <a href="#" class="flex-center"><ion-icon name="call-outline"></ion-icon><span>+26123458697</span></a>
                </li>
                <li class="link">
                    <a href="#" class="flex-center"><ion-icon name="phone-portrait-outline"></ion-icon><span>+88012345678,+8801234567893</span></a>
                </li>
                <li class="link">
                    <a href="#" class="flex-center"><ion-icon name="time-outline"></ion-icon><span>9:30am/9:30pm</span></a>
                </li>
            </ul>
            </div>
        </nav>
        <nav class="nav nav2 flex-center">
            <img src="./logo_1.png" alt="logo" class="logo" />
            <div>
                
            <span class="flex-center"><ion-icon name="menu-outline"></ion-icon></span>
            <div class="links flex-center">
                <a href="#" class="active">Home</a>
                <a href="#">Courses</a>
                <a href="#">links</a>
                <a href="#">About</a>
                <a href="#">links</a>
                <a href="" class="button">sign up</a>
            </div>
            </div>
        </nav>
    </header>
    <section class="videos">
        <div class="playing-video">
            <video
    id="my-video"
    class="video-js vjs-16-9 my-video"
    controls
    preload="auto"
    poster="banner.jpg"
    data-setup="{}"
  >
    <source src="http://media.w3.org/2010/05/sintel/trailer.mp4" type="video/mp4" />
    <source src="MY_VIDEO.webm" type="video/webm" />
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a
      web browser that
      <a href="https://videojs.com/html5-video-support/" target="_blank"
        >supports HTML5 video</a
      >
    </p>
  </video>
  <h3>#1:(some data) Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, votam autem alias a </h3>
        </div>
        <div class="video-list">
            <div class="single-video">
                <img src="./banner.jpg" height="86" width="140" alt="thumbnail" class="thumbnail">
                <div class="text-ct">
                    <h3>#1:(some date)some thing about this video and more and more</h3>
                    <small>duration: 10 min</small>
                </div>
            </div>
            <div class="single-video">
                <img src="./banner.jpg" height="86" width="140" alt="thumbnail" class="thumbnail">
                <div class="text-ct">
                    <h3>#1:(some date)some thing about this video and more and more</h3>
                    <small>duration: 10 min</small>
                </div>
            </div>
            <div class="single-video">
                <img src="./banner.jpg" height="86" width="140" alt="thumbnail" class="thumbnail">
                <div class="text-ct">
                    <h3>#1:(some date)some thing about this video and more and more</h3>
                    <small>duration: 10 min</small>
                </div>
            </div>
            <div class="single-video">
                <img src="./banner.jpg" height="86" width="140" alt="thumbnail" class="thumbnail">
                <div class="text-ct">
                    <h3>#1:(some date)some thing about this video and more and more</h3>
                    <small>duration: 10 min</small>
                </div>
            </div>
            <div class="single-video">
                <img src="./banner.jpg" height="86" width="140" alt="thumbnail" class="thumbnail">
                <div class="text-ct">
                    <h3>#1:(some date)some thing about this video and more and more</h3>
                    <small>duration: 10 min</small>
                </div>
            </div>
            <div class="single-video">
                <img src="./banner.jpg" height="86" width="140" alt="thumbnail" class="thumbnail">
                <div class="text-ct">
                    <h3>#1:(some date)some thing about this video and more and more</h3>
                    <small>duration: 10 min</small>
                </div>
            </div>
            <div class="single-video">
                <img src="./banner.jpg" height="86" width="140" alt="thumbnail" class="thumbnail">
                <div class="text-ct">
                    <h3>#1:(some date)some thing about this video and more and more</h3>
                    <small>duration: 10 min</small>
                </div>
            </div>
            <div class="single-video">
                <img src="./banner.jpg" height="86" width="140" alt="thumbnail" class="thumbnail">
                <div class="text-ct">
                    <h3>#1:(some date)some thing about this video and more and more</h3>
                    <small>duration: 10 min</small>
                </div>
            </div>
            <div class="single-video">
                <img src="./banner.jpg" height="86" width="140" alt="thumbnail" class="thumbnail">
                <div class="text-ct">
                    <h3>#1:(some date)some thing about this video and more and more</h3>
                    <small>duration: 10 min</small>
                </div>
            </div>
            <div class="single-video">
                <img src="./banner.jpg" height="86" width="140" alt="thumbnail" class="thumbnail">
                <div class="text-ct">
                    <h3>#1:(some date)some thing about this video and more and more</h3>
                    <small>duration: 10 min</small>
                </div>
            </div>
            <div class="single-video">
                <img src="./banner.jpg" height="86" width="140" alt="thumbnail" class="thumbnail">
                <div class="text-ct">
                    <h3>#1:(some date)some thing about this video and more and more</h3>
                    <small>duration: 10 min</small>
                </div>
            </div>
            <div class="single-video">
                <img src="./banner.jpg" height="86" width="140" alt="thumbnail" class="thumbnail">
                <div class="text-ct">
                    <h3>#1:(some date)some thing about this video and more and more</h3>
                    <small>duration: 10 min</small>
                </div>
            </div>
            <div class="single-video">
                <img src="./banner.jpg" height="86" width="140" alt="thumbnail" class="thumbnail">
                <div class="text-ct">
                    <h3>#1:(some date)some thing about this video and more and more</h3>
                    <small>duration: 10 min</small>
                </div>
            </div>
        </div>
    </section>
    
      <script src="https://vjs.zencdn.net/7.21.1/video.min.js">
  </script>

{% endblock body %}