{% extends 'base.html' %}

{% block body %}
    <header class="header">
        {% include 'topNav.html' %}
        {% include 'nav.html' %}
    </header>
    
    <section class="course-m">
                <div class="banner banner-3 flex-center">
            <div class="text-content">
            <h1><span class="color-primary">{{data.title}}</span></h1>
                <p>{{data.courseDesc}}</p>
                <div class="buttons">
                    <a href="/course/apply/{{data._UID_}}" class="button flex-center">Apply online</a>
                </div>
            </div>
            <img src="{{data.banner}}" alt="banner" />
        </div>
        <div class="course-info">

            <div class="duration-info">
                <span style="background-color:#00c4f5;">Course duration <br />{{data.duration}}</span>
                <span style="background-color:#dbb700;">{{data.internduration}} <br />Internship</span>
            </div>
            <h2><span class="color-secondary">Course </span>content</h2>
            <div class="custom-ul">
                {% for i in data.courseContent %}
                <span class="custom-li">{{i}}</span>
                {% endfor %}
            </div>
        </div>
        <div class="software">
            <h2><span class="color-secondary">software</span> you learn</h2>
            <div class="softwares">
                {% for i in data.softwares %}
                <img src="{{i}}" alt="software"/>
                {% endfor %}
            </div>
        </div>
        <div class="course-info">
            <h2><span class="color-secondary">Job </span>field</h2>
            <div class="custom-ul">
                {% for i in data.jobfields %}
                <span class="custom-li">{{i}}</span>
                {% endfor %}
            </div>
        </div>
    </section>
    
    <section class="courses">
        <div class="heading heading-2">
            <h1><span class="color-success">New</span> Courses</h1>
        </div>
        <div class="cards">
            {% for cou in someNew %}
            <div class="card">
                <img src="{{ cou.banner }}" alt="image" />
                <div class="body">
                    <span class="tag" style="animation-duration:20s;" >{{cou.tag}}</span>
                    <div class="text-content">
                        <h4>{{cou.title}}</h4>
                        <span>fee: ${{cou.fee}}</span>
                        <span><small><a class="color-info" href="/course/{{cou._UID_}}" style="text-decoration:underline;">Apply</a></small></span>
                        <div class="tag-by">
                            <img src="{{ cou.useravater }}" height="30" width="30" alt="icon" />
                            <span class="date">{{cou.author}}</span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <div class="search">
            <ion-icon name="search-outline"></ion-icon>
            <input type="search" name="search" id="search" placeholder="what you want to learn?"/>
    </div>
    <div class="subscription w-80">
            <h2>You can be your own<br />guiding star with our help</h2>
            <a href="/courses">Join us</a>
        </div>
{% endblock body %}