{% extends 'base.html' %}

{% block body %}
    <header class="header">
        {% include 'topNav.html' %}
        {% include 'nav.html' %}
        <div class="banner flex-center">
            <div class="text-content">
                <h1>Learn without <span class="color-primary">limits.</span></h1>
                <p>Start, switch, or advance your career with more than 5,400 courses, Professional Certificates, and degrees from world-class universities and companies.</p>
                <div class="buttons">
                    <a href="/courses" class="button flex-center">Apply online</a>
                    <a href="/courses" class="button flex-center">Join us</a>
                </div>
            </div>
            <img src="{{ url_for('static',filename='home.jpg') }}" alt="banner" />
        </div>
    </header>
    <hr />
    <section class="achievements">
        <div class="heading">
            <h1>Why An Scholercity Out Of <br />The Ordinary</h1>
            <p>You don't have to struggle alone, you've got our assistance and help.</p>
        </div>
        <div class="cards">
            <div class="card flex-center" style="animation-duration:10s;">
                <ion-icon name="school-outline"></ion-icon>
                <h4>1000+</h4>
                <span>Achievement</span>
            </div>
            <div class="card flex-center" style="animation-duration:20s;">
                <ion-icon name="accessibility-outline"></ion-icon>                
                <h4>1000+</h4>
                <span>Achievement</span>
            </div>
            <div class="card flex-center" style="animation-duration:16s;">
                <ion-icon name="bar-chart-outline"></ion-icon>
                <h4>1000+</h4>
                <span>Achievement</span>
            </div>
            <div class="card flex-center" style="animation-duration:25s;">
                <ion-icon name="bicycle-outline"></ion-icon>
                <h4>1000+</h4>
                <span>Achievement</span>
            </div>
        </div>
        <div class="banner flex-center banner2">
            <div class="text-content">
                <h1>Learn without <span class="color-secondary">limits.</span><br />with us</h1>
                <p>Start, switch, or advance your career with more than 5,400 courses, Professional Certificates, and degrees from world-class universities and companies.</p>
                <ul class="flex-center">
                    <li>some text here</li>
                    <li>some text here</li>
                    <li>some text here</li>
                    <li>some text here</li>
                </ul>
                <div class="buttons">
                    <a href="#" class="button flex-center">Join us</a>
                </div>
            </div>
            <img src="{{ url_for('static',filename='check.jpg') }}" alt="banner" />
        </div>
    </section>
    <section class="courses">
        <h1>Find the right <span class="color-secondary">online</span><br />course for you.</h1>
        <div class="cards">
            <div class="card">
                <img src="https://images.pexels.com/photos/270637/pexels-photo-270637.jpeg?auto=compress&cs=tinysrgb&w=300" alt="image" />
                <div class="body">
                    <span class="tag">seo</span>
                    <div class="text-content">
                        <h4>seo beginner</h4>
                        <span>Fee: $500</span>
                        <div class="tag-by">
                            <img src="./logo2.jpg" height="30" width="30" alt="icon" />
                            <span class="date">Elon musk</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="https://images.pexels.com/photos/1181244/pexels-photo-1181244.jpeg?auto=compress&cs=tinysrgb&w=300" alt="image" />
                <div class="body">
                    <span class="tag">web</span>
                    <div class="text-content">
                        <h4>Web development</h4>
                        <span>Fee: $500</span>
                        <div class="tag-by">
                            <img src="./logo2.jpg" height="30" width="30" alt="icon" />
                            <span class="date">Janker</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="https://images.pexels.com/photos/4960438/pexels-photo-4960438.jpeg?auto=compress&cs=tinysrgb&w=300" alt="image" />
                <div class="body">
                    <span class="tag">marketing</span>
                    <div class="text-content">
                        <h4>digital marketing</h4>
                        <span>Fee: $500</span>
                        <div class="tag-by">
                            <img src="./logo2.jpg" height="30" width="30" alt="icon" />
                            <span class="date">Siam</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="subscription">
            <h2>You can be your own<br />guiding star with our help</h2>
            <a href="#">Join us</a>
        </div>
    </section>
    <section class="team-blog">
        <div class="heading">
            <h1>We share <br />our thought on december</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, aut.</p>
        </div>
        <br />
        <div class="cards">
            <div class="card">
                <img src="https://images.pexels.com/photos/4458/cup-mug-desk-office.jpg?auto=compress&cs=tinysrgb&w=300" alt="image" />
                <div class="body">
                    <span class="tag">web</span>
                    <div class="text-content">
                        <h4>about some blog name</h4>
                        <span></span>
                        <span><small>By: Elon musk</small></span>
                        <div class="tag-by">
                            <img src="./logo2.jpg" height="30" width="30" alt="icon" />
                            <span class="date">1/12/2023</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="https://images.pexels.com/photos/4458/cup-mug-desk-office.jpg?auto=compress&cs=tinysrgb&w=300" alt="image" />
                <div class="body">
                    <span class="tag">web</span>
                    <div class="text-content">
                        <h4>about some blog name</h4>
                        <span></span>
                        <span><small>By: Elon musk</small></span>
                        <div class="tag-by">
                            <img src="./logo2.jpg" height="30" width="30" alt="icon" />
                            <span class="date">1/12/2023</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="https://images.pexels.com/photos/4458/cup-mug-desk-office.jpg?auto=compress&cs=tinysrgb&w=300" alt="image" />
                <div class="body">
                    <span class="tag">web</span>
                    <div class="text-content">
                        <h4>about some blog name</h4>
                        <span></span>
                        <span><small>By: Elon musk</small></span>
                        <div class="tag-by">
                            <img src="./logo2.jpg" height="30" width="30" alt="icon" />
                            <span class="date">1/12/2023</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <a id="web_jumpers"></a>
{% endblock body %}