{% extends 'base.html' %}

{% block body %}
    <header class="header">
        <nav class="nav">
            <ul class="links-ic flex-center">
                <li class="link flex-center">
                    <a href="#" class="flex-center"><ion-icon name="logo-facebook" style="color:#5C9FF5;"></ion-icon></a></li><li class="link flex-center">
                    <a href="#"><ion-icon style="color:#15AFF4;" name="logo-twitter"></ion-icon></a></li><li class="link flex-center">
                    <a href="#"><ion-icon style="color:#E43651;" name="logo-pinterest"></ion-icon></a></li><li class="link flex-center">
                    <a href="#"><ion-icon style="color:#FF0000;" name="logo-youtube"></ion-icon></a></li><li class="link flex-center">
                    <a href="#"><ion-icon style="color:#0077B5;" name="logo-linkedin"></ion-icon></a></li><li class="link flex-center">
                    <a href="#"><ion-icon style="color:#F14950;" name="logo-instagram"></ion-icon></a>
                </li>
            </ul>
            <div class="flex-center">
                
            <span class="flex-center">More<ion-icon name="chevron-down-outline"></ion-icon></span>
            <ul class="links links2 flex-center">
                <li class="link flex-center">
                    <a href="#" class="flex-center"><ion-icon name="call-outline"></ion-icon><span>+26123458697</span></a>
                </li>
                <li class="link">
                    <a href="#" class="flex-center"><ion-icon name="phone-portrait-outline"></ion-icon><span>+88012345678,+8801234567893</span></a>
                </li>
                <li class="link">
                    <a href="#" class="flex-center"><ion-icon name="time-outline"></ion-icon><span>9:30am/9:30pm</span></a>
                </li>
            </ul>
            </div>
        </nav>
        <nav class="nav nav2 flex-center">
            <img src="./logo_1.png" alt="logo" class="logo" />
            <div>
                
            <span class="flex-center"><ion-icon name="menu-outline"></ion-icon></span>
            <div class="links flex-center">
                <a href="#" class="active">Home</a>
                <a href="#">Courses</a>
                <a href="#">links</a>
                <a href="#">About</a>
                <a href="#">links</a>
                <a href="" class="button">sign up</a>
            </div>
            </div>
        </nav>
        <div class="banner flex-center">
            <div class="text-content">
                <h1>Learn without <span class="color-primary">limits.</span></h1>
                <p>Start, switch, or advance your career with more than 5,400 courses, Professional Certificates, and degrees from world-class universities and companies.</p>
                <div class="buttons">
                    <a href="#" class="button flex-center">Apply online</a>
                    <a href="#" class="button flex-center">Join us</a>
                </div>
            </div>
            <img src="./box.jpg" alt="banner" />
        </div>
    </header>
    <hr />
    <section class="achievements">
        <div class="heading">
            <h1>Why An Scholercity Out Of <br />The Ordinary</h1>
            <p>You don't have to struggle alone, you've got our assistance and help.</p>
        </div>
        <div class="cards">
            <div class="card flex-center" style="animation-duration:10s;">
                <ion-icon name="school-outline"></ion-icon>
                <h4>1000+</h4>
                <span>Achievement</span>
            </div>
            <div class="card flex-center" style="animation-duration:20s;">
                <ion-icon name="accessibility-outline"></ion-icon>                
                <h4>1000+</h4>
                <span>Achievement</span>
            </div>
            <div class="card flex-center" style="animation-duration:16s;">
                <ion-icon name="bar-chart-outline"></ion-icon>
                <h4>1000+</h4>
                <span>Achievement</span>
            </div>
            <div class="card flex-center" style="animation-duration:25s;">
                <ion-icon name="bicycle-outline"></ion-icon>
                <h4>1000+</h4>
                <span>Achievement</span>
            </div>
        </div>
        <div class="banner flex-center banner2">
            <div class="text-content">
                <h1>Learn without <span class="color-secondary">limits.</span><br />with us</h1>
                <p>Start, switch, or advance your career with more than 5,400 courses, Professional Certificates, and degrees from world-class universities and companies.</p>
                <ul class="flex-center">
                    <li>some text here</li>
                    <li>some text here</li>
                    <li>some text here</li>
                    <li>some text here</li>
                </ul>
                <div class="buttons">
                    <a href="#" class="button flex-center">Join us</a>
                </div>
            </div>
            <img src="./logo2.jpg" alt="banner" />
        </div>
    </section>
    <section class="courses">
        <h1>Find the right <span class="color-secondary">online</span><br />course for you.</h1>
        <div class="cards">
            <div class="card">
                <img src="./logo1.jpg" alt="image" />
                <div class="body">
                    <span class="tag">course</span>
                    <div class="text-content">
                        <h4>Courses name</h4>
                        <span>Fee: $500</span>
                        <span><small>By: Elon musk</small></span>
                        <div class="tag-by">
                            <img src="./logo2.jpg" height="30" width="30" alt="icon" />
                            <span class="date">SpaceX</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="./logo1.jpg" alt="image" />
                <div class="body">
                    <span class="tag">course</span>
                    <div class="text-content">
                        <h4>Courses name</h4>
                        <span>Fee: $500</span>
                        <div class="tag-by">
                            <img src="./logo2.jpg" height="30" width="30" alt="icon" />
                            <span class="date">1/14/2023</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="./logo1.jpg" alt="image" />
                <div class="body">
                    <span class="tag">course</span>
                    <div class="text-content">
                        <h4>Courses name</h4>
                        <span>Fee: $500</span>
                        <div class="tag-by">
                            <img src="./logo2.jpg" height="30" width="30" alt="icon" />
                            <span class="date">1/14/2023</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="./logo1.jpg" alt="image" />
                <div class="body">
                    <span class="tag">course</span>
                    <div class="text-content">
                        <h4>Courses name</h4>
                        <div class="stars rating-star" -data-rating="2"></div>
                        <span>Fee: $500</span>
                        <div class="tag-by">
                            <img src="./logo2.jpg" height="30" width="30" alt="icon" />
                            <span class="date">1/14/2023</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="./logo1.jpg" alt="image" />
                <div class="body">
                    <span class="tag">course</span>
                    <div class="text-content">
                        <h4>Courses name</h4>
                        <div class="stars rating-star" -data-rating="2"></div>
                        <span>Fee: $500</span>
                        <div class="tag-by">
                            <img src="./logo2.jpg" height="30" width="30" alt="icon" />
                            <span class="date">1/14/2023</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="./logo1.jpg" alt="image" />
                <div class="body">
                    <span class="tag">course</span>
                    <div class="text-content">
                        <h4>Courses name</h4>
                        <div class="stars rating-star" -data-rating="2"></div>
                        <span>Fee: $500</span>
                        <div class="tag-by">
                            <img src="./logo2.jpg" height="30" width="30" alt="icon" />
                            <span class="date">1/14/2023</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="subscription">
            <h2>You can be your own<br />guiding star with our help</h2>
            <a href="#">Join us</a>
        </div>
    </section>
    <section class="team-blog">
        <div class="heading">
            <h1>We share <br />our thought on december</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, aut.</p>
        </div>
        <br />
        <div class="cards">
            <div class="card">
                <img src="./logo1.jpg" alt="image" />
                <div class="body">
                    <span class="tag">course</span>
                    <div class="text-content">
                        <h4>Courses name</h4>
                        <span>Fee: $500</span>
                        <span><small>By: Elon musk</small></span>
                        <div class="tag-by">
                            <img src="./logo2.jpg" height="30" width="30" alt="icon" />
                            <span class="date">SpaceX</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="./logo1.jpg" alt="image" />
                <div class="body">
                    <span class="tag">course</span>
                    <div class="text-content">
                        <h4>Courses name</h4>
                        <span>Fee: $500</span>
                        <span><small>By: Elon musk</small></span>
                        <div class="tag-by">
                            <img src="./logo2.jpg" height="30" width="30" alt="icon" />
                            <span class="date">SpaceX</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="./logo1.jpg" alt="image" />
                <div class="body">
                    <span class="tag">course</span>
                    <div class="text-content">
                        <h4>Courses name</h4>
                        <span>Fee: $500</span>
                        <span><small>By: Elon musk</small></span>
                        <div class="tag-by">
                            <img src="./logo2.jpg" height="30" width="30" alt="icon" />
                            <span class="date">SpaceX</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock body %}