{% extends 'base.html' %}

{% block body %}
    <style type="text/css">
        .team-blog{
            width: 80%;
            margin: 20px auto;
        }
    </style>
    <header class="header">
        {% include 'topNav.html' %}
        {% include 'nav.html' %}
    </header>
<br />
        <section class="team-blog">
        <div class="heading">
            <h1>Users</h1>
        </div>
        <br />
        <div class="cards">
            <div class="card">
                <img src="./logo1.jpg" alt="image" />
                <div class="body">
                    <div class="text-content">
                        <h4>user name</h4>
                        <span>Email: $500</span>
                        <span><small>phone: Elon musk</small></span>
                        <span><small>devices: </small></span>
                        <span><small>Account-date:</small></span>
                        <span><small>applied courses: </small></span>
                        <button class="danger">Delete</button>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="./logo1.jpg" alt="image" />
                <div class="body">
                    <span class="tag">course</span>
                    <div class="text-content">
                        <h4>Courses name</h4>
                        <span>Fee: $500</span>
                        <span><small>By: Elon musk</small></span>
                        <div class="tag-by">
                            <img src="./logo2.jpg" height="30" width="30" alt="icon" />
                            <span class="date">SpaceX</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="./logo1.jpg" alt="image" />
                <div class="body">
                    <span class="tag">course</span>
                    <div class="text-content">
                        <h4>Courses name</h4>
                        <span>Fee: $500</span>
                        <span><small>By: Elon musk</small></span>
                        <div class="tag-by">
                            <img src="./logo2.jpg" height="30" width="30" alt="icon" />
                            <span class="date">SpaceX</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <hr />

{% endblock body %}