{% extends 'base.html' %}

{% block body %}
    <style type="text/css">
        .team-blog{
            width: 80%;
            margin: 20px auto;
        }
    </style>
    <header class="header">
        {% include 'topNav.html' %}
        {% include 'nav.html' %}
    </header>
<br />
        <section class="team-blog">
        <div class="heading">
            <h1>Users</h1>
        </div>
        <br />
        <div class="cards">
            {% for user in users %}
            <div class="card">
                <img src="{{ url_for('static',filename='pilot.png') }}" alt="image" />
                <div class="body">
                    <div class="text-content">
                        <h4>{{user.username}}</h4>
                        <span>Email: {{user.email}}</span>
                        <span><small>devices: {{user.devices|length}}</small></span>
                        <span><small>Account-date:{{user.__DATE__}}</small></span>
                        <span><small>spend :{{user.spend_for_courses}} </small></span>
                        <button class="danger">Delete</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>



    <hr />

{% endblock body %}